@using System.Globalization
@using System.Net.Http.Json
@using System.Text.Json
@using System.Text.Json.Serialization
@using EsiaUserMfe.Dto
@using EsiaUserMfe.Service.Interface
@using Microsoft.AspNetCore.Components.Web
@inject IApiClient ApiClient
@inject NavigationManager NavigationManager
@page "/"


<h3 class="text-2xl font-bold mb-4">Список пользователей ESIA</h3>

@if (EsiaUserList == null || !EsiaUserList.Any())
{
    <p>Пользователи отсутствуют.</p>
}
else
{
    <div class="overflow-x-auto">
        <table class="min-w-full border border-gray-300 divide-y divide-gray-200">
            <thead class="bg-gray-100">
            <tr>
                <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">OID</th>
                <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Login</th>
                <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Password</th>
                <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Текущий статус</th>
                <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Дата создания</th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            @foreach (var user in EsiaUserList)
            {
                <tr>
                    <td class="px-4 py-2">@user.Oid</td>
                    <td class="px-4 py-2">@user.Login</td>
                    <td class="px-4 py-2">@user.Password</td>
                    <td class="px-4 py-2">@user.Status</td>
                    <td class="px-4 py-2">@user.DateTimeCreated?.ToString("g", CultureInfo.CurrentCulture)</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
<h3>Пример вызова API</h3>

<button @onclick="LoadData">Загрузить</button>

@if (data is null)
{
    
    <p>Нет данных</p>
}
else
{
    <pre>@JsonSerializer.Serialize(data)</pre>
}

@code {
    public IEnumerable<EsiaUser>? EsiaUserList { get; set; }
    CreateEsiaUserRespnonse? data;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await base.OnInitializedAsync();
            EsiaUserList = await ApiClient.GetFreeEsiaUsers();
        }
        catch (Exception e)
        {
            EsiaUserList = null;
        }
    }
    async Task LoadData()
    {
        data = await ApiClient.CreateEsiaUser(new EsiaUserRequest() { });
        NavigationManager.NavigateTo($"/status/{data.RequestId}");
    }

}
