@using System.Globalization
@using System.Net.Http.Json
@using System.Text.Json
@using System.Text.Json.Serialization
@using EsiaUserMfe.Dto
@using EsiaUserMfe.Service.Interface
@using Microsoft.AspNetCore.Components.Web
@inject IApiClient ApiClient
@inject NavigationManager NavigationManager
@using Blazorise
@page "/"


<h3 class="text-2xl font-bold mb-4">Список пользователей ESIA</h3>

<Table>
    <TableHeader ThemeContrast="ThemeContrast.Light">
        <TableRow>
            <TableHeaderCell>#</TableHeaderCell>
            <TableHeaderCell>OID</TableHeaderCell>
            <TableHeaderCell>Логин</TableHeaderCell>
            <TableHeaderCell>Пароль</TableHeaderCell>
            <TableHeaderCell>Данные профиля</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        @if (EsiaUserList == null || !EsiaUserList.Any())
        {
            <TableRowCell Colspan="5">Пользователи отсутствуют.</TableRowCell>
        }
        else
        {
            
            @foreach (var user in EsiaUserList.Select((user,index) => (user, index)))
            {
                <TableRow>
                    <TableRowCell>@user.index</TableRowCell>
                    <TableRowCell>@user.user.Oid</TableRowCell>
                    <TableRowCell>@user.user.Login</TableRowCell>
                    <TableRowCell>@user.user.Password</TableRowCell>
                    @if (user.user.RequestData == null ||
                         user.user.RequestData.GetValueKind() == JsonValueKind.Null || 
                         user.user.RequestData?["generatedUserInfo"] == null ||
                         user.user.RequestData?["generatedUserInfo"].GetValueKind() == JsonValueKind.Null)
                    {
                        <TableRowCell>Нет информации</TableRowCell>
                    }
                    else
                    {
                        <TableRowCell>@user.user.RequestData.ToJsonString()</TableRowCell>
                    }
                </TableRow>    
            }
        }
    </TableBody>
    
</Table>


<Button @onclick="CreateProfile">Создать ESIA-профиль</Button>

@code {
    public IEnumerable<EsiaUser>? EsiaUserList { get; set; }
    CreateEsiaUserResponse? data;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await base.OnInitializedAsync();
            EsiaUserList = await ApiClient.GetFreeEsiaUsers();
        }
        catch (Exception e)
        {
            EsiaUserList = null;
        }
    }
    async Task CreateProfile()
    {
        data = await ApiClient.CreateEsiaUser(new EsiaUserRequest() { });
        NavigationManager.NavigateTo($"/status/{data.RequestId}");
    }

}
